<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dattebayo Gallery</title>
    <link rel="stylesheet" href="../style/main3.css">
    <script src="../js/main3.js" type="module" defer></script>
</head>
<body>
    <div class="container">
        <h1>Naruto Characters Gallery</h1>
        <div id="cards-container" class="cards-container">
            <div class="card">
                <img class="cardimage1" id="cardimage1"src="https://placehold.co/600x400@2x.png" alt="">
                <div class="cardcontent1">
                    <h2 class="cardtitle1" id="cardtitle1">Titulo 1</h2>
                    <p class="cardhead1" id="cardhead1">Lorem 1</p>
                    <p class="carddescription1" id="carddescription1">Lorem 1</p>
                </div>
            </div>
            <div class="card">
                <img class="cardimage2" id="cardimage2" src="https://placehold.co/600x400@2x.png" alt="">
                <div class="cardcontent2">
                    <h2 class="cardtitle2" id="cardtitle2">Character Name</h2>
                    <p class="cardhead2" id="cardhead2">Clan & Village</p>
                    <p class="carddescription2" id="carddescription2">Unique Jutsu</p>
                </div>
            </div>
            <div class="card">
                <img class="cardimage3" id="cardimage3" src="https://placehold.co/600x400@2x.png" alt="">
                <div class="cardcontent3">
                    <h2 class="cardtitle3" id="cardtitle3">Character Name</h2>
                    <p class="cardhead3" id="cardhead3">Clan & Village</p>
                    <p class="carddescription3" id="carddescription3">Main Jutsu</p>
                </div>
            </div>
            <div class="card">
                <img class="cardimage4" id="cardimage4" src="https://placehold.co/600x400@2x.png" alt="">
                <div class="cardcontent4">
                    <h2 class="cardtitle4" id="cardtitle4">Character Name</h2>
                    <p class="cardhead4" id="cardhead4">Clan & Village</p>
                    <p class="carddescription4" id="carddescription4">Ability</p>
                </div>
            </div>
        </div>
        <div id="pagination" class="pagination">
            <a href="./index2.html"><button>Anterior</button></a>
            <a href="./index3.html"><button class="active">3</button></a>
            <a href="./index4.html"><button>Siguiente</button></a>
        </div>
    </div>
</body>
</html>
