<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dattebayo Gallery</title>
    <link rel="stylesheet" href="../style/main.css">
    <script src="../js/main.js" type="module" defer></script>
</head>
<body>
    <div class="container">
        <h1>Naruto Characters Gallery</h1>
        <div id="cards-container" class="cards-container">

            <div class="card">
                <img class="card-image" id="cardimage1" src="https://placehold.co/600x400@2x.png" alt="Personaje 1">
                <div class="card-content">
                    <h2 class="card-title" id="card-title-1">Naruto Uzumaki</h2>
                    <p class="card-head" id="card-head-1">Héroe de la hoja</p>
                    <p class="card-description" id="card-description-1">Un joven ninja con el sueño de convertirse en Hokage.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-image" id="cardimage2" src="https://placehold.co/600x400@2x.png" alt="Personaje 2">
                <div class="card-content">
                    <h2 class="card-title" id="card-title-2">Sasuke Uchiha</h2>
                    <p class="card-head" id="card-head-2">El vengador solitario</p>
                    <p class="card-description" id="card-description-2">Miembro del clan Uchiha con sed de justicia.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-image" id="cardimage3" src="https://placehold.co/600x400@2x.png" alt="Personaje 3">
                <div class="card-content">
                    <h2 class="card-title" id="card-title-3">Sakura Haruno</h2>
                    <p class="card-head" id="card-head-3">La ninja médica</p>
                    <p class="card-description" id="card-description-3">Fuerza, inteligencia y habilidad médica en una sola kunoichi.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-image" id="cardimage4" src="https://placehold.co/600x400@2x.png" alt="Personaje 4">
                <div class="card-content">
                    <h2 class="card-title" id="card-title-4">Kakashi Hatake</h2>
                    <p class="card-head" id="card-head-4">El ninja copia</p>
                    <p class="card-description" id="card-description-4">Conocido por su sharingan y su misteriosa máscara.</p>
                </div>
            </div>

        </div>

        <div id="pagination" class="pagination">
            <a href="index.html"><button class="active">1</button></a>
            <a href="./views/index2.html"><button>2</button></a>
            <a href="./views/index3.html"><button>3</button></a>
            <a href="./views/index4.html"><button>4</button></a>
            <a href="./views/index5.html"><button>5</button></a>
        </div>
    </div>
</body>
</html>
